body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  padding: 15px;
  width: 65px;
  height: 43px;
  margin-top: 15px;
  background-color: rgb(194, 194, 194);
  color: black;
  font-size: 10px;
}
button:hover{
  cursor: pointer;
  background-color: rgb(223, 217, 217);
}
button:active{
  background-color:rgb(78, 77, 77);
}